<%- include("partials/header") -%>


<ul>
    <li>role: <%= ele[0].role %></li>
    <li>name: <%= ele[0].name %></li>
    <li>loignId:<%= ele[0].loginId %> </li>
    <li>userId : <%= ele[0].userId %></li>
    <li>account Status: <%= ele[0].accountStatus %></li>
    <li>remarks: <%= ele[0].remarks %></li>
    <h1>And many more things about the user can be render hear</h1>
</ul>
<%- include("partials/footer") -%>