<%- include("partials/header") -%>
<table class="table table-striped table-primary">
    <thead>
      <tr>
        <th>List created By</th>
        <th>Document title</th>
        <th>Indstrial domain</th>
        <th>location</th>
        <th>And all other fields ......</th>
      </tr>
    </thead>
    <tbody>
      <%if (records !== 'undefined' || records.length >0 ){ %>
      <% records.forEach(function(row){ %>
      <tr>
        <td><%= row.filledBy %></td>
        <td><%= row.docTitle%></td>
        <td><%= row.domain %></td>
        <td><%= row.location %></td>
        <td>
            <form action="/deleteContact/<%= row._id %>" method="post">
                <button>del</button>
            </form>
            <form action="/readMoreContact/<%= row._id %>" method="post">
                <button>more</button>
            </form>
            <form action="/updateContact/<%= row._id %>" method="post">
                <button>upd</button>
            </form>
            <form action="/downloadCsv/<%= row._id %>" method="post">
                <button>download</button>
            </form>
        </td>
      </tr>
      <% })}else{ %>
        <tr>
            <td colspan="6">No Record Found</td>
          </tr>
        <% } %>
    </tbody>
  </table>

  
<%- include("partials/footer") -%>
